envio_resultados_vd.yml
id: envio_resultados_vd
namespace: company.team

description: |
  Automação SGI - Renovação de cookies (30min) + Envio de resultados (horários específicos).

inputs:
  - id: modo
    type: STRING
    required: true
    defaults: "completo"
    description: "Modo de execução: 'renovar' (apenas cookies) ou 'completo' (extração + whatsapp)"

triggers:
  # Renovação de cookies a cada 15 minutos
  - id: renovar_cookies_30min
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "*/15 * * * *"
    timezone: "America/Sao_Paulo"
    inputs:
      modo: "renovar"

  # Extração completa nos horários definidos
  - id: agendamento_cheio
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 11,13,15,18 * * 1-6"
    timezone: "America/Sao_Paulo"
    inputs:
      modo: "completo"

  - id: agendamento_quebrado
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "30 16 * * 1-6"
    timezone: "America/Sao_Paulo"
    inputs:
      modo: "completo"

  - id: whatsapp_comando_parcial
    type: io.kestra.plugin.core.trigger.Webhook
    key: 3NnevMX2
    inputs:
      modo: "completo"
    conditions:
      - type: io.kestra.plugin.core.condition.Expression
        expression: |
          {{ 
            (trigger.body.data.key.fromMe == false) and 
            (
              (trigger.body.data.message.conversation | default('') | lower == 'parcial vd') or 
              (trigger.body.data.message.extendedTextMessage.text | default('') | lower == 'parcial vd')
            )
          }}

tasks:
  - id: wdir
    type: io.kestra.plugin.core.flow.WorkingDirectory
    tasks:
      - id: sync_github
        type: io.kestra.plugin.git.SyncNamespaceFiles
        username: "{{ kv('GITHUB_USER') }}"
        password: "{{ kv('GITHUB_PASS') }}"
        url: https://github.com/raffaelhfarias/auto_kestra
        branch: main
        namespace: company.team
        gitDirectory: .
        dryRun: false

      # Baixa state.json do Namespace Files (se existir)
      - id: download_state
        type: io.kestra.plugin.core.namespace.DownloadFiles
        namespace: company.team
        files:
          - /state.json
        destination: flow_envio_resultados_vd/
        allowFailure: true

      # === MODO RENOVAR: Apenas renova cookies ===
      - id: renovar_auth
        type: io.kestra.plugin.scripts.python.Commands
        containerImage: mcr.microsoft.com/playwright/python:v1.57.0-noble
        runIf: "{{ inputs.modo == 'renovar' }}"
        env:
          VD_USER: "{{ kv('VD_USER') }}"
          VD_PASS: "{{ kv('VD_PASS') }}"
        beforeCommands:
          - pip install -r flow_envio_resultados_vd/requirements.txt
        commands:
          - export PYTHONPATH=flow_envio_resultados_vd && python flow_envio_resultados_vd/workflow/scripts/renovar_auth.py
        outputFiles:
          - "flow_envio_resultados_vd/state.json"
          - "*.png"

      # === MODO COMPLETO: Extração + WhatsApp ===
      - id: extracao_vd
        type: io.kestra.plugin.scripts.python.Commands
        containerImage: mcr.microsoft.com/playwright/python:v1.57.0-noble
        runIf: "{{ inputs.modo == 'completo' }}"
        env:
          VD_USER: "{{ kv('VD_USER') }}"
          VD_PASS: "{{ kv('VD_PASS') }}"
          VD_CICLOS: "{{ kv('VD_CICLOS') }}"
        beforeCommands:
          - pip install -r flow_envio_resultados_vd/requirements.txt
        commands:
          - export PYTHONPATH=flow_envio_resultados_vd && python flow_envio_resultados_vd/workflow/scripts/loja.py
        outputFiles:
          - "extracoes/resultado_filtros_*.csv"
          - "flow_envio_resultados_vd/state.json"

      # Salva state.json no Namespace Files (modo renovar)
      - id: upload_state_renovar
        type: io.kestra.plugin.core.namespace.UploadFiles
        namespace: company.team
        runIf: "{{ inputs.modo == 'renovar' }}"
        filesMap:
          state.json: "{{ outputs.renovar_auth.outputFiles['flow_envio_resultados_vd/state.json'] }}"

      # Salva state.json no Namespace Files (modo completo)
      - id: upload_state_completo
        type: io.kestra.plugin.core.namespace.UploadFiles
        namespace: company.team
        runIf: "{{ inputs.modo == 'completo' }}"
        filesMap:
          state.json: "{{ outputs.extracao_vd.outputFiles['flow_envio_resultados_vd/state.json'] }}"

      - id: notificar_whatsapp
        type: io.kestra.plugin.scripts.python.Commands
        containerImage: python:3.11-slim
        runIf: "{{ inputs.modo == 'completo' }}"
        inputFiles: "{{ outputs.extracao_vd.outputFiles }}"
        env:
          EVOLUTION_API_URL: "{{ kv('EVOLUTION_API_URL') }}"
          EVOLUTION_API_KEY: "{{ kv('EVOLUTION_API_KEY') }}"
          EVOLUTION_INSTANCE: "{{ kv('EVOLUTION_INSTANCE') }}"
          WHATSAPP_GROUP_VD: "{{ kv('WHATSAPP_GROUP_VD') }}"
          VD_METAS_JSON: "{{ kv('VD_METAS_JSON') | default('{}') }}"
        beforeCommands:
          - pip install requests python-dotenv
        commands:
          - python flow_envio_resultados_vd/workflow/scripts/notificar_whatsapp.py

disabled: true
